body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 20rem;
    background-color:#008000;
    cursor: pointer;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}